
@{
    ViewBag.Title = "inicio";
}
@Styles.Render("~/Content/css/estilohom.css")


    <header>
        <div class="Titulo">
            <h1>Ya estas registrado?</h1>
        </div>
        <div class="">
            <img src="~/Content/img/aundifonos.PNG" alt="biblia" class="informacion">
        </div>
        <div class="informacion">
            <center>
                <h3>
                    <br />
                    <br />
                    Sinai cccs
                    <br />
                    registrate para poder descargar nuestra musica
                 
                </h3>
            </center>
            <div class="login">
                
                <form action="h3">
                    <h3>REGÍSTRATE</h3>
                    <input type="text" placeholder="Nombre" />
                    <input type="text" placeholder="Apellido" />
                    <input type="email" placeholder="Correo Electrónico" />
                    <input type="password" placeholder="Contraseña" />
                    <input type="password" placeholder="Confirma tu Contraseña" />
                    <input type="submit" value="Registrar">
                </form>
            </div>
           
        </div>
    </header>




