
@{
    ViewBag.Title = "rolles";
}
@Styles.Render("~/Content/css/estiloroll.css")


<header>
    <div class="Titu">
        <h3>GRUPO DE MUSICA SINAI</h3>
    </div>


    <div class="contenido">
        <label class="subtext">   El roll del siguiente Domingo sera de la siguiente forma:</label>
        <ul>
            <li class="mat"><a data-toggle="modal" data-target="#exampleModalCenter">Roll para el servicio Matutino</a></li>

            <li class="ves"><a data-toggle="modal" data-target="#exampleModalCenter1">Roll para el servicio Vespertino</a></li>
        </ul>
    </div>


   
</header>


<!-- Modal Actualizar -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">MATUTINO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">

                    <div class="table-responsive">
                        <h1 style="color:white;">Servicio Matutino</h1>
                        <table style="background-color:white;" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Director</th>
                                    <th scope="col">Canciones</th>
                                    <th scope="col">Bajo</th>
                                    <th scope="col">Bateria</th>
                                    <th scope="col">Acustica</th>
                                    <th scope="col">Electrica</th>
                                    <th scope="col">Piano</th>
                                    <th scope="col">Teclado</th>
                                    <th scope="col">Voces</th>
                                    <th scope="col">Proyeccion</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>25-nov</td>
                                    <td>Alex</td>
                                    <td>Enrrique</td>
                                    <td>Ricardo</td>
                                    <td>Alonso</td>
                                    <td>Enrrique</td>
                                    <td>Miguel</td>
                                    <td>Jhadiel</td>
                                    <td>Argelia</td>
                                    <td> Yesenia,Angel,Argelia</td>
                                    <td>Serafin</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal Actualizar -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">VESPERTNO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">

                    <div class="table-responsive">
                        <h1 style="color:white;">Servicio Vespertino</h1>
                        <table style="background-color:white;" class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Director</th>
                                    <th scope="col">Canciones</th>
                                    <th scope="col">Bajo</th>
                                    <th scope="col">Bateria</th>
                                    <th scope="col">Acustica</th>
                                    <th scope="col">Electrica</th>
                                    <th scope="col">Piano</th>
                                    <th scope="col">Teclado</th>
                                    <th scope="col">Voces</th>
                                    <th scope="col">Proyeccion</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>25-nov</td>
                                    <td>Alex</td>
                                    <td>Enrrique</td>
                                    <td>Ricardo</td>
                                    <td>Alonso</td>
                                    <td>Enrrique</td>
                                    <td>Miguel</td>
                                    <td>Jhadiel</td>
                                    <td>Argelia</td>
                                    <td> Yesenia,Angel,Argelia</td>
                                    <td>Serafin</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>