
@{
    ViewBag.Title = "Servicios";
}
<link rel="stylesheet" href="~/Content/css/estiloservices.css" />
<center><img src="~/Content/img/audifonosnegros1.PNG" alt="micro" class="fondoser" /></center>
@Styles.Render("~/Content/css/swiper.min.css")
@Styles.Render("~/Content/css/tarjeta.css")


    <header class="">
        <div class="Titu">
            <h3>GRUPO DE MUSICA SINAI</h3>
        </div>
        <center> <img src="~/Content/img/microfono.PNG" class="inforoll" /></center>

        <div class="contenido">
            <label class="subtext"> Canciones grabadas por SINAI:</label>
            <ul>
                <li class="recles"><a href="Recles Love">Recles Love</a></li>
                <li class="unico"><a href="Lo unico que quiero">Lo unico que quiero</a></li>
                <li class="solo"><a href="Solo me imagino">Jesus</a></li>
                <li class="solo"><a href="Solo me imagino">Back t life</a></li>
                <li class="solo"><a href="Solo me imagino">Toch the Sky</a></li>
                <li class="solo"><a href="Solo me imagino">Fuerte</a></li>
                <li class="solo"><a href="Solo me imagino">No me Fallas</a></li>
                <li class="solo"><a href="Solo me imagino">Solo me imagino</a></li>
                <li class="solo"><a href="Solo me imagino">La unica razon</a></li>
                <li class="solo"><a href="Solo me imagino">Foster the people</a></li>
                <li class="solo"><a href="Solo me imagino">Sin Cadenas</a></li>
                <li class="solo"><a href="Solo me imagino">Mi sueño es</a></li>
                <li class="solo"><a href="Solo me imagino">Mi deceo</a></li>
                <li class="solo"><a href="Solo me imagino">Mi primer amor</a></li>
                <li class="solo"><a href="Solo me imagino">Transfiguration</a></li>
                <li class="solo"><a href="Solo me imagino">Como en el cielo</a></li>
            </ul>
        </div>
    </header>
        <div class="swiper-container" style="margin-top:-300px; margin-left:300px;">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="~/Content/img/chicaguitarra.PNG" style="width:200px; height:280px; border-radius:10px;" />

                    </div>
                    <div class="content">
                        <center> <p style="color:white;"> sinai young </p> </center>
                        <ul>
                            <li><a href="Facebook">Facebook</a></li>
                            <li><a href="Facebook">Twitter</a></li>
                            <li><a href="Facebook">git Hub</a></li>
                        </ul>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="img-box">
                        <img src="~/Content/img/chicaguitarra.PNG" style="width:200px; height:280px; border-radius:10px;" />

                    </div>
                    <div class="content">
                        <center> <p style="color:white;"> sinai young </p> </center>
                        <ul>
                            <li><a href="Facebook">Facebook</a></li>
                            <li><a href="Facebook">Twitter</a></li>
                            <li><a href="Facebook">git Hub</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>


   

    @Scripts.Render("~/Scripts/js/swiper.min.js")
    @Scripts.Render("~/Scripts/js/Artista.js")





